.problem__container{
    display: flex;
    text-align: center;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    gap: 4%;
    background-color: #342d60;
    margin: 0 0 2% 0;
    color: white;
}

.problem__container span{
    padding-top: 0.2rem;
}

.problem-heading{
    display: flex;
    justify-content: start;
    padding-left: 1%;
    width: 56%;
    gap: 3%;
}

.start-problem>button{
    /* border: 2px solid #F53838; */
    background-color: #F53838;
    border-radius: 20px;
    padding: 0 1.5rem;
    font-weight: 600;
    font-family: system-ui;
    transition: background-color 0.3s ease;
}

.start-problem>button:hover{
    background-color: #d30a0a6c;
}

@media only screen and (min-width: 851px) and (max-width: 950px) {
    .problem__container {
        /* flex-direction: column; */
        align-items: center;
        text-align: center;
        padding: 1rem; /* Adjusted padding for better spacing on small screens */
        font-size: 1rem;
    }

    .problem-heading {
        width: 100%;
    }

    .start-problem > button {
        /* width: 100%; Make button full width on small screens */
    }
}

@media only screen and (min-width: 601px) and (max-width: 850px) {
    .problem__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        font-size: 0.9rem;
    }

    .problem-heading {
        width: 100%;
        display: inline;
    }

    .start-problem > button {
        /* width: 100%; Make button full width on small screens */
    }
}